<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.0
* Author: Alexis Luna
* Copyright 2020 Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Login | Al día Ecuador</title>
    <link href="/public/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/admin/assets/css/auth.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img src="/public/img/Distribuidor autorizado Transparente.png"> 
                        Admin Panel | Al día Ecuador
                    </div>
                    <h6 class="mb-4 text-muted">Iniciar Sesión</h6>
                    <form action="/admin/login" onsubmit="return doLogin();" method="POST" id="form-login">
                        <div class="form-group text-left">
                            <label for="email">Correo electrónico</label>
                            <input type="email" name="email" class="form-control" placeholder="Ingrese su correo electrónico" required />
                        </div>
                        <div class="form-group text-left">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Ingrese contraseña" required />
                        </div>
                        <button type="submit" name="submit" class="btn btn-primary shadow-2 mb-4">Iniciar sesión</button>
                        <p>
                            <a href="/login">Iniciar sesión cuenta normal</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/public/admin/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/public/admin/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/swal/sweetalert.min.js"></script>

    <script>
        function doLogin () {

            var form = document.getElementById("form-login");

            var originalHtml = form.submit.innerHTML;
            form.submit.innerHTML = "Cargando...";
            form.submit.setAttribute("disabled", "disabled");

            var ajax = new XMLHttpRequest();
            ajax.open(form.getAttribute("method"), form.getAttribute("action"), true);

            ajax.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var response = JSON.parse(this.responseText);
                        // console.log(response);

                        form.submit.innerHTML = originalHtml;
                        form.submit.removeAttribute("disabled");

                        if (response.status == "success") {
                            var accessToken = response.accessToken;
                            localStorage.setItem("adminAccessToken", accessToken);
                            
                            window.location.href = "/admin";
                        } else {
                            swal("Error", response.message, "error");
                        }
                    }

                    if (this.status == 500) {
                        console.log(this.responseText);
                        swal("Error", this.responseText, "error");
                    }
                }
            };

            var formData = new FormData(form);
            ajax.send(formData);

            return false;
        }
    </script>

</body>

</html>