<aside class="sidebar" style="position: sticky !important; top: 100px;">
	<div class="widget">
		<h4 class="widget-title">Atajos</h4>
		<ul class="naves" id="left-sidebar">
			<li>
				<i class="ti-pin2"></i>
				<a href="/people-nearby">Personas de mi área</a>
			</li>

			<li>
				<i class="ti-comments"></i>
				<a href="/inbox">Mensaje Directo 
					<span class="badge" id="inbox-badge"></span></a>
			</li>

			<li>
				<i class="ti-notepad"></i>
				<a href="/createGroup">Crear una Comunidad</a>
			</li>

			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">
					Notificaciones
					<span class="badge" id="notifications-badge"></span>
				</a>
			</li>
			
		</ul>
	</div>
</aside>