<aside class="sidebar" style="position: sticky !important; top: 100px;">
	<div class="widget">
		<h4 class="widget-title">Atajos</h4>
		<ul class="naves" id="left-sidebar">
			<!--<li>
				<i class="ti-user"></i>
				<a href="/people-nearby">People nearby</a>
			</li>
-->
			<li>
				<i class="ti-user"></i>
				<a href="/friends">
					Contactos
					<span class="badge" id="friends-badge"></span>
				</a>
			</li>


			<li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Mensaje Directo <span class="badge" id="inbox-badge"></span></a>
			</li>

			<li>
				<i class="ti-magnet"></i>
				<a href="/createGroup">Crear una Comunidad</a>
			</li>

			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">
					Notificaciones
					<span class="badge" id="notifications-badge"></span>
				</a>
			</li>

			
		</ul>
	</div>
</aside>