<html>
<head>
	<title>Al día Ecuador</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/public/css/main.min.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/color.css">
	<link rel="stylesheet" href="/public/css/responsive.css">

</head>
<body>
	<div class="theme-layout">
		<div class="container-fluid pdng0">
			<div class="row merged">
				<div class="offset-md-3 col-md-6">
					<div class="login-reg-bg">
						<div class="log-reg-area sign">
							<h2 class="log-title">Forgot Password</h2>

							<form onsubmit="return sendRecoveryLink(this);">

								<div class="form-group">
									<input type="email" required name="email" />
									<label class="control-label">Email</label><i class="mtrl-select"></i>
								</div>

								<div class="submit-btns">
									<button class="mtr-btn login" name="submit" type="submit"><span>Send Recovery Link</span></button>
								</div>
							</form>

                            <p>
                                <a href="/login">Goto login</a>
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/public/swal/sweetalert.min.js"></script>

	<script>
		function sendRecoveryLink(form) {
			form.submit.setAttribute("disabled", "disabled");
			form.submit.innerHTML = "<span>Loading...</span>";

			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/sendRecoveryLink", true);

			ajax.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					form.submit.removeAttribute("disabled");
					form.submit.innerHTML = "<span>Send Recovery Link</span>";

					var response = JSON.parse(this.responseText);
                    if (response.status == "error") {
						swal("Error", response.message, "error");
					} else {
						swal("Success", response.message, "success");
					}
				}
			};

			ajax.send(new FormData(form));
			return false;
		}
	</script>

</body>

</html>