<html>
<head>
	<title>Santillana Net</title>

	<link rel="stylesheet" href="/public/css/main.min.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/color.css">
	<link rel="stylesheet" href="/public/css/responsive.css">

</head>
<body>
	<div class="theme-layout">
		<div class="container-fluid pdng0">
			<div class="row merged">
				<div class="offset-md-3 col-md-6">
					<div class="login-reg-bg">
						<div class="log-reg-area sign">
							<h2 class="log-title">Reset Password</h2>

							<form onsubmit="return doResetPassword(this);">

                                <input type="hidden" name="reset_token" value="<%= reset_token %>">
                                <input type="hidden" name="email" value="<%= email %>">

								<div class="form-group">
                                    <input placeholder="New Password" type="password" name="new_password">
								</div>

                                <div class="form-group">
                                    <input placeholder="Confirm Password" type="password" name="confirm_password">
								</div>

								<div class="submit-btns">
									<button class="mtr-btn login" name="submit" type="submit"><span>Reset Password</span></button>
								</div>
							</form>

                            <p>
                                <a href="/login">Goto login</a>
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function doResetPassword(form) {
			form.submit.setAttribute("disabled", "disabled");
			form.submit.innerHTML = "<span>Loading...</span>";

			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/ResetPassword", true);

			ajax.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					form.submit.removeAttribute("disabled");
					form.submit.innerHTML = "<span>Reset Password</span>";

					var response = JSON.parse(this.responseText);
                    alert(response.message);
				}
			};

			ajax.send(new FormData(form));
			return false;
		}
	</script>

</body>

</html>