<%- include ("../layouts/header") %>

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Publicaciones</h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <div class="search-container">
                    <input type="text" id="search-input" placeholder="Buscar por comunidad...">
                    <input type="date" id="start-date" placeholder="Fecha de inicio">
                    <input type="date" id="end-date" placeholder="Fecha de fin">
                    <button id="search-button">Buscar</button>
                </div>
            </br>
                <table width="100%" class="table table-bordered" id="dataTables-posts">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Detalles</th>                          
                            <th>Comunidad</th>
                            <th>Estados</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <nav>
                    <ul id="pagination" class="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    var isPostsPage = true;
    const limit = 10;

    function getPosts(startFrom = 0) {
        var skip = 0;

        var ajax = new XMLHttpRequest();
        ajax.open("POST", mainURL + "/admin/posts/fetch", true);

        ajax.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    // console.log(this.responseText);
                    var response = JSON.parse(this.responseText);
                    // console.log(response);

                    if (response.status == "success") {
                        var html = "";
                        for (var a = 0; a < response.data.length; a++) {
                            var post = response.data[a];

                            var banVisible = post.isBanned ? "style='display: none';" : "";
                            var unbanVisible = post.isBanned ? "" : "style='display: none';";

                            var banNode = "";
                            banNode += `<form method="POST" onsubmit="return unbanPost(this);" ` + unbanVisible + ` id="form-unban-post-` + post._id + `">
                                <input type="hidden" name="_id" value="` + post._id + `" />
                                <button type="submit" name="submit" class="btn btn-success" style="margin-right: 10px;">Desbloquear</button>
                            </form>

                            <form method="POST" onsubmit="return banPost(this);" ` + banVisible + `
                                id="form-ban-post-` + post._id + `">
                                <input type="hidden" name="_id" value="` + post._id + `" />
                                <button type="submit" name="submit" class="btn btn-info" style="margin-right: 10px;">Bloquear</button>
                            </form>`;

                            html += `<tr>
                                <td>` + post.uploader.name + `</td>
                                <td>` + post.caption + `</td>
                                
                                <td>` + post.user.username + `</td>
                                <td>
                                    <i class="fa fa-eye"></i> ` + post.likers.length + ` <br />
                                    <i class="fa fa-comment"></i> ` + post.comments.length + ` <br />
                                </td>
                                <td>` + new Date(post.createdAt).toLocaleDateString() + `</td>
                                <td>
                                    <div style="display: flex;">
                                        ` + banNode + `

                                        <form method="POST" onsubmit="return deletePost(this);">
                                            <input type="hidden" name="_id" value="` + post._id + `" />
                                            <button type="submit" name="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>`;
                        }
                        document.querySelector("#dataTables-posts tbody").innerHTML = html;

                        var html = "";
                        for (var a = 0; a < response.totalPages; a++) {
                            if (a > 0) {
                                skip += limit;
                            }

                            html += `<li class="page-item ` + (skip == startFrom ? "active" : "") + `">
                                <a class="page-link" href="javascript:void(0);" onclick="getPosts(` + skip + `);">
                                    ` + (a + 1) + `
                                </a>
                            </li>`;
                        }
                        document.getElementById("pagination").innerHTML = html;
                    } else {
                        swal("Error", response.message, "error");
                    }
                }

                if (this.status == 500) {
                    console.log(this.responseText);
                    swal("Error", this.responseText, "error");
                }
            }
        };

        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("adminAccessToken"));
        formData.append("skip", startFrom)
        formData.append("limit", limit);
        ajax.send(formData);
    }

    function unbanPost(form) {

        swal({
            title: "Desbloquear",
            text: "¿Está seguro que quiere desbloquear esta publicación?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var _id = form._id.value;
                var originalHtml = form.submit.innerHTML;

                form.submit.innerHTML = "Cargando...";
                form.submit.setAttribute("disabled", "disabled");

                var ajax = new XMLHttpRequest();
                ajax.open("POST", mainURL + "/admin/posts/unban", true);

                ajax.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            // console.log(this.responseText);
                            var response = JSON.parse(this.responseText);
                            // console.log(response);

                            form.submit.innerHTML = originalHtml;
                            form.submit.removeAttribute("disabled");

                            if (response.status == "success") {
                                form.style.display = "none";
                                document.getElementById("form-ban-post-" + form._id.value).style.display = "";
                                swal("Success", response.message, "success");
                            } else {
                                swal("Error", response.message, "error");
                            }
                        }

                        if (this.status == 500) {
                            console.log(this.responseText);
                            swal("Error", this.responseText, "error");
                        }
                    }
                };

                var formData = new FormData(form);
                formData.append("accessToken", localStorage.getItem("adminAccessToken"));
                ajax.send(formData);
            }
        });

        return false;
    }

    function banPost(form) {

        swal({
            text: "Ingrese la razón de bloqueo",
            content: "input",
            button: {
                text: "Ban",
                closeModal: true,
            },
        })
        .then(reasonToBan => {
            if (reasonToBan) {
                var _id = form._id.value;
                var originalHtml = form.submit.innerHTML;

                form.submit.innerHTML = "Cargando...";
                form.submit.setAttribute("disabled", "disabled");

                var ajax = new XMLHttpRequest();
                ajax.open("POST", mainURL + "/admin/posts/ban", true);

                ajax.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            // console.log(this.responseText);
                            var response = JSON.parse(this.responseText);
                            // console.log(response);

                            form.submit.innerHTML = originalHtml;
                            form.submit.removeAttribute("disabled");

                            if (response.status == "success") {
                                form.style.display = "none";
                                document.getElementById("form-unban-post-" + form._id.value).style.display = "";
                                swal("Success", response.message, "success");
                            } else {
                                swal("Error", response.message, "error");
                            }
                        }

                        if (this.status == 500) {
                            console.log(this.responseText);
                        }
                    }
                };

                var formData = new FormData(form);
                formData.append("accessToken", localStorage.getItem("adminAccessToken"));
                formData.append("reasonToBan", reasonToBan);
                ajax.send(formData);
            }
        })

        return false;
    }

    function deletePost(form) {

        swal({
            title: "¿Está seguro?",
            text: "¿Esta seguro que quiere eliminar esta publicación?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var _id = form._id.value;
                var originalHtml = form.submit.innerHTML;

                form.submit.innerHTML = "Cargando...";
                form.submit.setAttribute("disabled", "disabled");

                var ajax = new XMLHttpRequest();
                ajax.open("POST", mainURL + "/admin/posts/delete", true);

                ajax.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            // console.log(this.responseText);
                            var response = JSON.parse(this.responseText);
                            // console.log(response);

                            form.submit.innerHTML = originalHtml;
                            form.submit.removeAttribute("disabled");

                            if (response.status == "success") {
                                form.parentElement.parentElement.parentElement.remove();
                            } else {
                                swal("Error", response.message, "error");
                            }
                        }

                        if (this.status == 500) {
                            console.log(this.responseText);
                            swal("Error", this.responseText, "error");
                        }
                    }
                };

                var formData = new FormData(form);
                formData.append("accessToken", localStorage.getItem("adminAccessToken"));
                ajax.send(formData);
            }
        });
        

        return false;
    }

    function filterTable(query) {
        query = query.toLowerCase();
        var table = document.getElementById("dataTables-posts");
        var rows = table.getElementsByTagName("tr");
        var startDate = new Date(document.getElementById("start-date").value).getTime();
        var endDate = new Date(document.getElementById("end-date").value).getTime();

        for (var i = 1; i < rows.length; i++) {
            var row = rows[i];
            var cell = row.getElementsByTagName("td")[2]; // Index 3 corresponds to the "Comunidad" column
            var dateCell = row.getElementsByTagName("td")[4]; // Index 5 corresponds to the "Fecha" column
            if (cell && dateCell) {
                var cellText = cell.textContent || cell.innerText;
                var dateText = dateCell.textContent || dateCell.innerText;
                if ((query === "" || cellText.toLowerCase().indexOf(query) > -1) &&
                    (startDate === "" || endDate === "" || (startDate <= parseInt(dateText) && parseInt(dateText) <= endDate))) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
    }

    document.getElementById("search-button").addEventListener("click", function() {
        var query = document.getElementById("search-input").value.trim();
        filterTable(query);
    });

    getPosts();

</script>

<%- include ("../layouts/footer") %>
