<%- include ("../layouts/header") %>

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Usuarios
                <!-- <a href="<%= mainURL %>/admin/users/add" class="btn btn-sm btn-outline-primary float-right"><i class="fas fa-user-shield"></i> Add</a> -->
            </h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <div class="search-container">
                    <input type="text" id="search-input" placeholder="Buscar por usuario...">
                    <button id="search-button">Buscar</button>
                </div>

                <div class="filter-container">
                    <select id="country-filter">
                        <option value="">Todos las áreas</option>
                        <option value="Ventas">Ventas</option>
						<option value="Comunicaciones">Comunicaciones</option>
						<option value="Contabilidad">Contabilidad</option>
						<option value="Marketing">Marketing</option>
						<option value="RRHH">RRHH</option>
                    </select>
                    <select id="city-filter">
                        <option value="">Todas las ciudades</option>
                        <option value="Quito">Quito</option>
						<option value="Guayaquil">Guayaquil</option>
						<option value="Cuenca">Cuenca</option>
						<option value="Otro">Otro</option>
                    </select>
                    <button id="filter-button">Filtrar</button>
                </div>
            </br>
                <table width="100%" class="table table-bordered" id="dataTables-users">
                    <thead>
                        <tr>
                            
                            
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Área</th>
                            <th>Ciudad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>

                <nav>
                    <ul id="pagination" class="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
            var filterContainer = document.querySelector(".filter-container");
       // var container = document.querySelector(".container");

        // Establece el estilo flex y ajusta la alineación y el orden de los elementos
        filterContainer.style.display = "flex";
        filterContainer.style.justifyContent = "flex-end";
        filterContainer.style.alignItems = "center";
        filterContainer.style.order = "2";

        // Agrega margen derecho al contenedor principal
        filterContainer.style.marginRight = "10px";
    var isUsersPage = true;
    const limit = 10;

    function getUsers(startFrom = 0) {
        var skip = 0;

        var ajax = new XMLHttpRequest();
        ajax.open("POST", mainURL + "/admin/users/fetch", true);

        ajax.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    

                    if (response.status == "success") {
                        var html = "";
                        for (var a = 0; a < response.data.length; a++) {
                            var user = response.data[a];

                            var banVisible = user.isBanned ? "style='display: none';" : "";
                            var unbanVisible = user.isBanned ? "" : "style='display: none';";

                            var banNode = "";
                            banNode += `<form method="POST" onsubmit="return unbanUser(this);" ` + unbanVisible + ` id="form-unban-user-` + user._id + `">
                                <input type="hidden" name="_id" value="` + user._id + `" />
                                <button type="submit" name="submit" class="btn btn-success" style="margin-right: 10px;">Desbloquear</button>
                            </form>

                            <form method="POST" onsubmit="return banUser(this);" ` + banVisible + `
                                id="form-ban-user-` + user._id + `">
                                <input type="hidden" name="_id" value="` + user._id + `" />
                                <button type="submit" name="submit" class="btn btn-info" style="margin-right: 10px;">Bloquear</button>
                            </form>`;

                            html += `<tr>
                                
                                <td>` + user.name + `</td>
                                <td>` + user.email + `</td>
                                <td>` + user.country + `</td>
                                <td>` + user.city+ `</td>
                                <td>
                                    <div style="display: flex;">
                                        ` + banNode + `

                                        <form method="POST" onsubmit="return deleteUser(this);">
                                            <input type="hidden" name="_id" value="` + user._id + `" />
                                            <button type="submit" name="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>`;
                        }
                        document.querySelector("#dataTables-users tbody").innerHTML = html;

                        var html = "";
                        for (var a = 0; a < response.totalPages; a++) {
                            if (a > 0) {
                                skip += limit;
                            }

                            html += `<li class="page-item ` + (skip == startFrom ? "active" : "") + `">
                                <a class="page-link" href="javascript:void(0);" onclick="getUsers(` + skip + `);">
                                    ` + (a + 1) + `
                                </a>
                            </li>`;
                        }
                        document.getElementById("pagination").innerHTML = html;
                    } else {
                        swal("Error", response.message, "error");
                    }
                }

                if (this.status == 500) {
                    console.log(this.responseText);
                }
            }
        };

        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("adminAccessToken"));
        formData.append("skip", startFrom)
        formData.append("limit", limit);
        ajax.send(formData);
    }

    function unbanUser(form) {

        swal({
            title: "Desbloquear",
            text: "¿Está seguro que quiere desbloquear este usuario?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var _id = form._id.value;
                var originalHtml = form.submit.innerHTML;

                form.submit.innerHTML = "Cargando...";
                form.submit.setAttribute("disabled", "disabled");

                var ajax = new XMLHttpRequest();
                ajax.open("POST", mainURL + "/admin/users/unban", true);

                ajax.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            // console.log(this.responseText);
                            var response = JSON.parse(this.responseText);
                            // console.log(response);

                            form.submit.innerHTML = originalHtml;
                            form.submit.removeAttribute("disabled");

                            if (response.status == "success") {
                                form.style.display = "none";
                                document.getElementById("form-ban-user-" + form._id.value).style.display = "";
                                swal("Success", response.message, "success");
                            } else {
                                swal("Error", response.message, "error");
                            }
                        }

                        if (this.status == 500) {
                            console.log(this.responseText);
                        }
                    }
                };

                var formData = new FormData(form);
                formData.append("accessToken", localStorage.getItem("adminAccessToken"));
                ajax.send(formData);
            }
        });

        return false;
    }

    function banUser(form) {

        swal({
            title: "Bloquear usuario",
            text: "¿Está seguro que quiere bloquear a este usuario?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var _id = form._id.value;
                var originalHtml = form.submit.innerHTML;

                form.submit.innerHTML = "Cargando...";
                form.submit.setAttribute("disabled", "disabled");

                var ajax = new XMLHttpRequest();
                ajax.open("POST", mainURL + "/admin/users/ban", true);

                ajax.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            // console.log(this.responseText);
                            var response = JSON.parse(this.responseText);
                            // console.log(response);

                            form.submit.innerHTML = originalHtml;
                            form.submit.removeAttribute("disabled");

                            if (response.status == "success") {
                                form.style.display = "none";
                                document.getElementById("form-unban-user-" + form._id.value).style.display = "";
                                swal("Success", response.message, "success");
                            } else {
                                swal("Error", response.message, "error");
                            }
                        }

                        if (this.status == 500) {
                            console.log(this.responseText);
                            swal("Error", this.responseText, "error");
                        }
                    }
                };

                var formData = new FormData(form);
                formData.append("accessToken", localStorage.getItem("adminAccessToken"));
                ajax.send(formData);
            }
        });

        return false;
    }

    function deleteUser(form) {

        swal({
            title: "Eliminar Usuario",
            text: "¿Está seguro de eliminar este usuario?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                var _id = form._id.value;
                var originalHtml = form.submit.innerHTML;

                form.submit.innerHTML = "Cargando...";
                form.submit.setAttribute("disabled", "disabled");

                var ajax = new XMLHttpRequest();
                ajax.open("POST", mainURL + "/admin/users/delete", true);

                ajax.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            // console.log(this.responseText);
                            var response = JSON.parse(this.responseText);
                            // console.log(response);

                            form.submit.innerHTML = originalHtml;
                            form.submit.removeAttribute("disabled");

                            if (response.status == "success") {
                                form.parentElement.parentElement.parentElement.remove();
                            } else {
                                swal("Error", response.message, "error");
                            }
                        }

                        if (this.status == 500) {
                            console.log(this.responseText);
                            swal("Error", this.responseText, "error");
                        }
                    }
                };

                var formData = new FormData(form);
                formData.append("accessToken", localStorage.getItem("adminAccessToken"));
                ajax.send(formData);
            }
        });

        return false;
    }

    document.getElementById("search-button").addEventListener("click", function() {
        var query = document.getElementById("search-input").value.trim();
        filterTable(query);
    });

    function filterTable(query) {
    query = query.toLowerCase();
    var table = document.getElementById("dataTables-users");
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var cell = row.getElementsByTagName("td")[0]; // Índice 2 corresponde a la columna "Nombre"
        if (cell) {
            var cellText = cell.textContent || cell.innerText;

            if (query === "" || cellText.toLowerCase().indexOf(query) > -1) 
            {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
}

//filtro
document.getElementById("filter-button").addEventListener("click", function() {
    var country = document.getElementById("country-filter").value;
    var city = document.getElementById("city-filter").value;
    filterTableByCountryAndCity(country, city);
});

function filterTableByCountryAndCity(country, city) {
    country = country.toLowerCase();
    city = city.toLowerCase();
    var table = document.getElementById("dataTables-users");
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var countryCell = row.getElementsByTagName("td")[4]; // Índice 5 corresponde a la columna "Área"
        var cityCell = row.getElementsByTagName("td")[5]; // Índice 6 corresponde a la columna "Ciudad"

        if (countryCell && cityCell) {
            var countryText = countryCell.textContent || countryCell.innerText;
            var cityText = cityCell.textContent || cityCell.innerText;

            var countryMatch = country === "" || countryText.toLowerCase() === country;
            var cityMatch = city === "" || cityText.toLowerCase() === city;

            if (countryMatch && cityMatch) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
}

</script>

<%- include ("../layouts/footer") %>